.markers {
    height: 400px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.markers-list {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.1);
}

#add-button {
    cursor: pointer;
    height: 25px;
    width: 100%;
}

#confirm-changes-buttons {
    display: flex;
    gap: 20px;
}

#confirm-changes-buttons > * {
    cursor: pointer;
    flex-grow: 1;
}








