header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    vertical-align: center;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

header a {
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
}